
<% content_tag :td, 
        :class => 'dashboard-column status-'+(status.id.nil? ? 'done' : status.id.to_s), 
        :id => 'status-'+(status.id.nil? ? 'done' : status.id.to_s) do %>
  <div class="dashboard-column-title">
    <span><%= l(:label_x_issues, :count => issues.length) %></span>
  </div>
<% issues.each do |issue| %>
  <div class="dashboard-issue hascontextmenu" id="issue-<%= issue.id %>">
<%= render :partial => DashboardController::VIEW_MODES[@view], 
           :locals => {
             :issue => issue
           } %>
  </div>
<%= draggable_element(
      "issue-"+issue.id.to_s, 
      :scroll => :window, 
      :revert => :true
    ) if @edit_enabled %>
<% end %>
<% end %>