#rdb-taskboard
  %header#rdb-header
    = render :partial => 'dashboard/taskboard/header'
    .rdb-clear

  #rdb-board
    #rdb-board-container
      = render :partial => 'dashboard/taskboard/column_names'
      = render :partial => 'dashboard/taskboard/overall_progress'
      = render :partial => 'dashboard/taskboard/groups'
