# Build artifacts and externals
/assets
/dist
/vendor

# Temporary files
/tmp

# Ruby
/.bundle
/.rspec
/.ruby-version
Gemfile.lock

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules
