/.editorconfig  export-ignore
/.git*          export-ignore
/.github        export-ignore
/.rubocop.yml   export-ignore
/.slim-lint.yml export-ignore
/.tx            export-ignore
/db             export-ignore
/docs           export-ignore
/log            export-ignore
/redmine        export-ignore
/scripts        export-ignore
/spec           export-ignore
