dist: xenial
language: ruby
cache:
  directories:
  - vendor/bundle
services:
- postgresql
rvm:
- 2.6.1
- 2.5.3
env:
  global:
  - BROWSER=chromium
  matrix:
  - REDMINE_VERSION=4.0.1
  - REDMINE_VERSION=master
matrix:
  allow_failures:
  - env: REDMINE_VERSION=master
branches:
  except:
  - debian
before_install:
- nvm install 10
- sudo apt-get -qy install chromium-browser chromium-chromedriver
- export PATH=$PATH:/usr/lib/chromium-browser/
- node --version
- npm --version
- bundle --version
- chromedriver --version
install:
- export BUNDLE_GEMFILE=""
- export BUNDLE_PATH="$(pwd)/vendor/bundle"
- bundle install --jobs=3 --retry=3
- npm install
- ./redmine update
script:
- make production
- bundle exec rake spec
