@import 'css3/linear-gradient'

@mixin rdb-btn
  @extend %font-conf
  @extend %rui-form-component

  display: inline-block
  text-align: center
  padding-left: 11px
  padding-right: 11px

  @include linear-gradient(#fff, #f2f2f2, $fallback: #f2f2f2)

  &:hover, &.hover
    cursor: pointer
    text-decoration: none
    border-color: $frame-hover-color
    @include linear-gradient(#fff, $primary-lightgray, $fallback: $primary-lightgray)

  &:active, &.active
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .1)
    border-color: $secondary-gray
    background-image: none
    background-color: #f2f2f2

  &.focus
    outline: 0
    box-shadow: inset 1px 1px 0 $focus-color, inset -1px -1px 0 $focus-color
    border-color: $focus-color
    text-decoration: none

.rui-btn, a.rui-btn
  @include rdb-btn

  .rui-icon
    margin: 0 7px
    line-height: 14px

    &:last-child
      margin-right: 0
      float: right
    &:first-child
      margin-left: 0

  & ~ .rui-btn
    margin-left: .5em
