.rui-input
  @extend %rui-form-component

  width: 100%
  display: block
  box-shadow: inset 1px 1px 4px rgba($secondary-silver, .5)

  &:hover, &.hover, &:focus
    text-decoration: none
    border-color: $frame-hover-color

  &:focus
    box-shadow: inset 1px 1px 4px rgba($frame-hover-color, .5)
