.rui-menu
  padding: 3px 0
  margin: 0

.rui-menu-list
  list-style: none
  padding: 0
  margin: 0

.rui-menu-item
  padding: 3px 6px

  &.rui-menu-item-active
    color: $primary-white
    text-decoration: none
    background-color: $primary-brightblue
