.rui-select
  @include rdb-btn

  -webkit-appearance: menulist
  -moz-appearance: menulist
  -ms-appearance: menulist
  -o-appearance: menulist
  appearance: menulist
  height: auto
  background-size: auto

  padding: 5px 4px 4px
  text-align: left

  &::-moz-focus-inner
    padding: 0
    border: 0
