Source: redmine-plugin-dashboard
Section: unknown
Priority: extra
Maintainer: Jan Graichen <jg@altimos.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/jgraichen/redmine_dashboard
Vcs-Git: git://git@github.com:jgraichen/redmine_dashboard.git
Vcs-Browser: https://github.com/jgraichen/redmine_dashboard

Package: redmine-plugin-dashboard
Architecture: any
Depends: ${misc:Depends}, redmine (>= 2.1), redmine (<< 2.5), ruby-haml
Description: Dashboard Plugin for Redmine
 .
 This redmine plugin adds an issue dashboard that supports
 drag and drop for issues and support various filters and groups.
