%ul.rdb-columns
  - @board.columns.each do |column|
    %li.rdb-column
      = render :partial => 'dashboard/taskboard/column', :locals => { :column => column, :issues => group.filter(column.issues) }
