/*
**  Redmine Dashboard UI
*/


/* =========================================================
** Dashboard Drop-Down-Menus
*/

/* menu item */
.rdb-menu {
	position: relative;
	display: inline-block;
}

.rdb-menu a.rdb-menu-link {
	padding-right: 18px;
}

.rdb-menu h1 a.rdb-menu-link,
.rdb-menu h2 a.rdb-menu-link,
.rdb-menu h3 a.rdb-menu-link,
.rdb-menu h4 a.rdb-menu-link,
.rdb-menu h5 a.rdb-menu-link {
	padding-top: 1px;
	padding-bottom: 1px;
}

.rdb-menu a.rdb-menu-link::before {
	position: absolute;
	top: 45%;
	right: 6px;
	display: inline-block;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-top: 4px solid #888;
	content: '';
}

.rdb-menu a.rdb-menu-link:hover,
.rdb-menu-active a.rdb-menu-link {
	background-color: #eee;
}

/* =========================================================
** Dashboard UI Container
*/

/* menu container */
.rdb-container {
	position: absolute;
	left: -99999px;

	z-index: 1000;
	display: none;
	visibility: hidden;

	margin: 7px 0 0 0;
	padding: 0;

	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border-radius: 2px;
}

.rdb-container-wrapper {
	overflow: auto;

	min-width: 160px;
	max-height: 400px;
	padding: 0 1px;
}
.rdb-container-wrapper::-webkit-scrollbar {
    width: 5px;
	background-color: #eee;
}
.rdb-container-wrapper::-webkit-scrollbar-thumb {
	background-color: #bbb;
}

.rdb-container::before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}
.rdb-container::after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	border-left: 6px solid transparent;
	content: '';
}

.rdb-container-right::before {
	left: auto;
	right: 6px;
}
.rdb-container-right::after {
	left: auto;
	right: 7px;
}

.rdb-container-inlet {
	padding: 4px 8px;
}

.rdb-menu-active .rdb-container,
.rdb-container.rdb-visible {
	display: block;
	visibility: visible;
	left: -3px;
}

.rdb-menu-active .rdb-container-right,
.rdb-container-right.rdb-visible {
	display: block;
	visibility: visible;
	left: auto;
	right: -4px;
}

.rdb-container h3 {
	margin: 0;
	padding: 1px 6px 1px;
	font-size: .9em;
	font-weight: normal;
}

.rdb-container h3 ~ ul {
	padding-top: 0;
}



/* =========================================================
** Dashboard Container List
*/

.rdb-container .rdb-list {
	border-bottom: 1px solid #ccc;
}
.rdb-container .rdb-list:last-child {
	border-bottom: none;
}

.rdb-small .rdb-list {
	font-size: .9em;
}

.rdb-list > ul {
	list-style: none;
	padding: 4px 0 2px;
	margin: 0;
}

.rdb-small .rdb-list > ul {
	padding-top: 2px;
	padding-bottom: 2px;
}

.rdb-list > ul > li > a,
.rdb-list .rdb-multicheck a {
	display: block;
	padding: 6px 10px 6px 10px;
	margin: 0 0 1px 0;
}

.rdb-small .rdb-list > ul > li > a,
.rdb-small .rdb-multicheck a {
	padding-top: 4px;
	padding-bottom: 4px;
}

.rdb-icons .rdb-list > ul > li > a {
	padding-left: 28px;
}

.rdb-list > ul > li > a:hover,
.rdb-list .rdb-multicheck a:hover,
.rdb-list .rdb-multicheck a.rdb-checkbox-link:hover ~ a {
	background-color: #eee;
}
.rdb-list .rdb-multicheck {
	display: table;
	width: 100%;
}
.rdb-list .rdb-multicheck a {
	padding-left: 5px;
	padding-right: 5px;
	display: table-cell;
}

.rdb-list .rdb-multicheck a.rdb-checkbox-link {
	padding-right: 0;
	padding-left: 24px;
	margin-right: 4px;
	/*float: left;*/
	width: 1px;
	height: 1em;
	background-position: 4px 50%;
}


/* =========================================================
** Dashboard Checkbox Links
*/

.rdb-checkbox-link {
	padding-left: 20px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 2px 50%;
}

.rdb-checkbox-link.rdb-checkbox-link-enabled {
	background-image: url(../../../images/true.png);
}

.rdb-checkbox-link.rdb-checkbox-link-disabled {
	background-image: url(img/disabled_true.png);
}

.rdb-list > ul > li > a.rdb-checkbox-link {
	padding-left: 28px;
	background-position: 6px 50%;
}

