/*
 *  Redmine Dashboard - Taskboard
 */

/* ========================================================
 * Taskboard Header
 */

.rdb-columns, .rdb-headers {
	margin: 0;
	padding: 0;
	width: 100%;

	display: table;
	table-layout: fixed;
}

.rdb-columns .rdb-column,
.rdb-headers .rdb-column {
	display: table-cell;
	vertical-align: top;
}

.rdb-headers {
	margin-bottom: 1px;
}

.rdb-headers .rdb-column {
	border-bottom: 1px solid #aaa;
	padding: 0 0 4px;
}

.rdb-headers .rdb-column h3 {
	margin: 0;
	padding: 0 0 0 10px;
	display: inline;
}

.rdb-headers .rdb-column span {
	font-size: .8em;
	margin-left: 10px;
	color: #999;
}


.rdb-columns {
	margin: 0;
}
.rdb-columns:first-child .rdb-column {
	padding-top: 8px;
}

.rdb-columns .rdb-column {
	border-left: 2px solid #f5f5f5;
	padding: 0 3px 25px 1px;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-transition: all 0.3s ease-in-out;
}

.rdb-column-compact {
	width: 170px;
}

.rdb-columns .rdb-column:first-child {
	border-left: none;
}

.rdb-column-head {
	font-size: 0.7em;
	color: #999;
	padding: 3px 10px 0;
}

.rdb-column-drop-active {
	background-color: #F1FFFF;
	background-color: #E8F7FF;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-transition: all 0.3s ease-in-out;
}

.rdb-column-drop-hover {
	background-color: #eee;
	background-color: #DDFADE;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-transition: all 0.3s ease-in-out;
}


/* ========================================================
** Groups / Group Headers
*/

.rdb-group:last-child .rdb-columns .rdb-column  {
	padding-bottom: 70px;
}

.rdb-group-header {
	overflow: hidden;
	*zoom: 1;

	border: 1px solid #ccc;
	border-radius: 2px;
	margin: 0 -5px;
	background-color: #f9f9f9;
}
.rdb-group:first-child .rdb-group-header {
	margin-top: 10px;
}

.rdb-group-header h4 {
	display: inline;
	border: none;
	padding: 0;
	margin: 0;
}

.rdb-group-header a {
	position: relative;
	padding: 0 12px 0 20px;
	cursor: pointer;
	display: block;
}
.rdb-group-header a:hover {
	text-decoration: none;
	border: none;
	background-color: #eee;
}

.rdb-group-header a::before {
	position: absolute;
	top: 45%;
	left: 6px;
	display: inline-block;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-top: 4px solid #888;
	border-bottom: 4px solid transparent;
	content: '';
}
.rdb-collapsed .rdb-group-header { margin-bottom: 10px; }
.rdb-collapsed:last-child .rdb-group-header { margin-bottom: 40px; }
.rdb-collapsed .rdb-group-header a::before {
	margin-top: -3px;
	left: 8px;
	border-left-color: #888;
	border-top-color: transparent;
}
.rdb-collapsed .rdb-columns {
	visibility: none;
	display: none;
}

.rdb-group-header span {
	margin-left: 5px;
	font-size: .8em;
	color: #999;
}


/* ========================================================
** Overall progress
*/

.rdb-overall-progress {
	height: 8px;
	background-color: #599917;
	overflow: hidden;
	*zoom: 1;

	margin-bottom: 2px;
}

.rdb-overall-progress a {
	height: 8px;

	float: left;
	display: block;
	background-color: #F2DA30;
}

.rdb-overall-progress a:first-child {
	background-color: #C00;
}

/* ========================================================
** Taskboard Column Dialog
*/

.rdb-card-dialog {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 8px;
	font-size: 12px;
}

.rdb-card-dialog .rdb-card-subject {
	height: auto;
	min-height: 4em;
	max-height: none;
	margin-top: 2px;
}

.rdb-card-dialog .rdb-priority {
	height: auto;
	padding-bottom: 1px;
}

.rdb-card-dialog-box {
	margin: 4px;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 10px;
}

.rdb-card-dialog-box ul {
	list-style: none;
	margin: 5px 0;
	padding: 0;
}

.rdb-card-dialog-box ul li a {
	display: block;
	padding: 5px 10px;
	border-radius: 2px
}

.rdb-card-dialog-box ul li a:hover {
	background-color: #eee;
}
