/* dashboard css */

/* Overall styles */

#dashboard-footer {
	padding: 2px 10px 0;
	margin: 15px 0 0 0;
	border-top: 1px solid #eee;
}

#dashboard-copyright {
	float: right;
	font-size: 0.8em;
	color: #999;
}

/* header */
#dashboard-header {
	padding: 2px 10px 2px 0;
	border-bottom: 1px solid #ddd;
}
#dashboard-header h2, #dashboard-header h3 {
	display: inline;
}
#dashboard-header .dashboard-header-filter {
	margin: 0 2px;
}
#dashboard-header .dashboard-header-options {
	float: right;
	margin: 8px 10px 0 0;
}
#dashboard-refresh a {
	float: left;
	padding: 4px;
	margin-right: 5px;
}
#dashboard-refresh a:hover {
	background-color: #eee;
	border-radius: 10px;
}

/* legend */
.dashboard-priority-legend {
	float: left;
}
.dashboard-priority-legend div {
	padding: 0 0 4px 0;
}
.dashboard-priority-legend p {
	float: left;
	width: 60px;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}
.dashboard-priority-legend span {
	padding: 0 10px 0 3px;
}
.dashboard-priority-legend .dashboard-issue-overdue {
	padding: 0;
}
.dashboard-priority-legend .dashboard-issue-overdue span {
	border: 1px solid red;
	padding: 0;
	margin-right: 3px;
}

/* menu */
.dashboard-menu {
	position: relative;
}
.dashboard-menu a.dashboard-menu-link {
	padding-right: 10px;
	background-image: url(img/menu.gif);
	background-repeat: no-repeat;
	background-position: right 60%;
}

.dashboard-menu .dashboard-menu-container {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	background-color: #fff;
	z-index: 1000;
	display: none;
	visibility: hidden;
	left: -99999px;
	max-height: 400px;
	overflow: auto;
}

#dashboard-header .dashboard-header-options .dashboard-menu-container {
	float: right;
	margin: 4px 0 0 0;
}
.dashboard-menu-active .dashboard-menu-container {
	display: block;
	visibility: visible;
	left: -3px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	min-width: 160px;
}

.dashboard-header-options .dashboard-menu-active .dashboard-menu-container {
	left: auto;
	right: -3px;
}

.dashboard-menu .dashboard-menu-container h3,
.dashboard-menu .dashboard-menu-container h4 {
	margin: 4px 0 0;
	padding: 0 5px;
	border: none;
}

.dashboard-menu .dashboard-menu-container ul {
	margin: 0;
	padding: 3px 0;
	border-bottom: 1px solid #ddd;
	list-style: none;
}
.dashboard-menu .dashboard-menu-container ul:last-child {
	border-bottom: none;
}

.dashboard-menu .dashboard-menu-container li a {
	display: block;
	padding: 5px 12px 5px 12px;
}

.dashboard-menu .dashboard-menu-container li a.active,
.dashboard-menu .dashboard-menu-container li a.inactive {
	padding-left: 24px;
}

.dashboard-menu .dashboard-menu-container li a.active {
	background-image: url(../../../images/true.png);
	background-repeat: no-repeat;
	background-position: 4px 60%;
}

.dashboard-menu .dashboard-menu-container li a.dashboard-reset {
	background-image: url(../../../images/cancel.png);
	background-repeat: no-repeat;
	background-position: 4px 60%;
}

.dashboard-menu .dashboard-menu-container li a:hover {
	background-color: #eee;
	text-decoration: none;
}


/* ------ */

.dashboard-cell-header {
	color: #777;
	font-size: .8em;
	padding: 0 2px 4px 6px;
}
.dashboard-done-question-content {
	margin-left: 180px;
}
.dashboard-error {
	border: 1px solid red;
}

/* FILTER */
.dashboard-filter {
	padding: 0;
	height: 4.5em;
}
.dashboard-filter fieldset {
	float: right;
	margin-left: 10px;
	overflow: hidden;
	/*min-height: 3.5em;
	max-height: 3.5em;
	background-color: #fff;
	z-index: 80;
}
.dashboard-filter fieldset:hover {
	max-height: 100em;
	position: absolute;*/
}

/* TASKBOARD */

#dashboard-taskboard {
	width: 100%;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
}
#dashboard-taskboard thead th {
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
	padding: 4px 4px 4px 6px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 4px;
}
#dashboard-taskboard .dashboard-column {
	vertical-align: top;
	min-width: 162px;
	padding: 3px 3px 3px 3px;
	/*border-bottom: 1px solid #ddd;*/
}
#dashboard-taskboard tr:last-child .dashboard-column {
	border-bottom: none;
}
/*#dashboard-taskboard tbody th span {
	display: block;
	font-size: .9em;
	padding: 2px 0 0 4px;
	text-align: left;
}*/
#dashboard-taskboard tbody th {
	text-align: left;
}

/* OPTIONS */
.dashboard-options ul {
	text-align: left;
	list-style: none;
	padding: 3px;
	margin: 0;
	font-size: 1em;
}
.dashboard-options ul input {
	float: left;
	margin-right: 4px;
}
.dashboard-options ul input.submit {
	float: right;
}
.dashboard-options li {
	margin: 1px;
	padding: 0 3px 2px 3px;
	float: left;
	/*visibility: hidden;*/
}
.dashboard-options:hover li, .dashboard-options ul li.first {
	visibility: visible;
}
/* ISSUE */
.dashboard-issue-priority {
	border-left: 5px solid #ccc;
	height: 100%;
}
.dashboard-issue-overdue .dashboard-card,
.dashboard-issue-overdue .dashboard-item {
	border-color: #f00;
}
.dashboard-priority-1 {
	border-color: #aaa;
}
.dashboard-priority-2 {
	border-color: #6b6;
}
.dashboard-priority-3 {
	border-color: orange;
}
.dashboard-priority-4 {
	border-color: red;
}
.dashboard-priority-5 {
	border-color: black;
}
/* ISSUE CARD */
.dashboard-card {
	float: left;
	width: 160px;
	height: 10.6em;
	position: relative;
	margin: 1px;
	border: 1px solid #ccc;
	background: #FFFFDD;
	overflow: hidden;
}
.dashboard-card-header {
	padding: 2px 2px 2px 4px;
	font-size: 1em;
}
.dashboard-card-header a, .dashboard-item-header a {
	padding-left: 16px;
	background: transparent url("../images/cog.png") no-repeat 2px 50%;
}
.dashboard-card-content {
	padding: 0 4px 2px 5px;
	font-size: .95em;
}
.dashboard-card-assignee, .dashboard-card-category, .dashboard-card-subject {
	display: block;
}
.dashboard-card-subject {
	margin: 0 0 .25em 0;
	min-height: 2.3em;
	max-height: 4.2em;
	overflow: hidden;
}
.dashboard-card-assignee {
	padding-left: 14px;
	background: transparent url("../images/user.png") no-repeat 0 60%;
}
.dashboard-card-category {
	padding-left: 14px;
	background: transparent url("../images/brick.png") no-repeat 0 60%;
}
.dashboard-card-title {
	display: block;
	overflow: hidden;
	height: 1.4em;
	width: 1000px;
}
.dashboard-card-version, .dashboard-card-tracker {
	font-size: .9em;
	color: #888;
}
.dashboard-card-progress, .dashboard-item-progress {
	background-color: #ddd;
	margin: 0 1px;
}
.dashboard-card-progress-bar, .dashboard-item-progress-bar {
	background-color: green;
	height: 2px;
}
.dashboard-card-progress-percent {
	float: right;
	display: block;
	font-size: 0.75em;
	text-align: right;
	color: #999;
	margin-top: -1em;
}
/* ISSUE ITEM */
.dashboard-item {
	float: left;
	width: 95%;
	height: 35px;
	position: relative;
	margin: 1px;
	border: 1px solid #ccc;
	background: #FFFFDD;
	overflow: hidden;
}
.dashboard-item, .dashboard-parent-header {
	height: 35px;
	overflow: hidden;
}
.dashboard-item-header {
	float: left;
	height: 35px;
	padding: 1px 2px 0 4px;
	font-size: 1em;
	min-width: 60px;
}
.dashboard-item-title, .dashboard-item-tracker {
	display: block;
}
.dashboard-item-content {
	padding: 3px 1px 1px 4px;
	font-size: .9em;
	height: 2.6em;
	overflow: hidden;
}
.dashboard-item-content[data-dashboard-event-tpv] {
	cursor: pointer;
}
.dashboard-item-tracker {
	font-size: .9em;
	color: #666;
}
.dashboard-item-subject {
	display: block;
}

.dashboard-parent {
	margin: 1px;
	border: 1px solid #ccc;
	background: #FFFFF5;
}
#dashboard td {
	/*border-left: 1px solid #eee;*/
}
.dashboard-parent-issue td {
	/*padding: 0 !important;*/
	border-bottom: none !important;
}
.dashboard-parents .dashboard-parent-children {
	width: 100%;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
}
.dashboard-parents .dashboard-parent-header {
	border-bottom: 1px solid #ccc;
	background: #FFFFDD;
}
.dashboard-parents .dashboard-parent-children-header th span {
	visibility: hidden;
	display: none !important;
}
.dashboard-parents tbody td:first-child {
	border-left: none;
}
.dashboard-parents-end td, .dashboard-group-header th {
	border-bottom: 1px solid #ccc;
	padding: 5px 5px 0 5px !important;
}
.dashboard-parents-end td > span, .dashboard-group-header th > span {
	font-weight: bold;
	background-color: #fff;
	position: relative;
	top: .5em;
	padding: 0 4px;
}
.dashboard-parents-end td > span > span {
	font-weight: normal;
	font-size: .8em;
}
.dashboard-parent .dashboard-parents-end td > span {
	background: #FFFFF5;
}
#dashboard-taskboard .dashboard-parents-end ~ tr .dashboard-column,
#dashboard-taskboard .dashboard-group-header ~ tr .dashboard-column {
	padding-top: 9px;
}
/* ANIMATION */
.dashboard-issue-dragged {
	cursor: move;
	opacity: 0.9;
	z-index: 100;
}
.dashboard-column-drop-active {
	background-color: #F3FFF5;
}
.dashboard-column-drop-hover {
	background-color: #eee;
}
