/*
**  Redmine Dashboard
*/

/* =========================================================
** Dashboard Origin
*/

/* override */
#content {
	padding: 0 !important;
	background-color: #eee;
}

#rdb {
	background-color: #eee;
	min-height: 600px;
}

#rdb-board {
	clear: both;

	margin: 10px;
	padding: 8px;

	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
	min-height: 100px;
}

#rdb-board-container {
	padding: 2px 2px 30px 2px;
}

.rdb-clear { clear: both; }


/* =========================================================
** Dashboard Header
*/

#rdb-header {
	padding: 7px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

#rdb-header .rdb-board,
#rdb-header .rdb-filter,
#rdb-header .rdb-option {
	float: left;
	margin: 0 4px;
}

#rdb-header .rdb-filter,
#rdb-header .rdb-option {
	margin-top: 8px;
}

#rdb-header .rdb-option {
	float: right;
}

#rdb-header .rdb-board .rdb-container {
	margin-top: 4px;
}

#rdb-header .rdb-board h1,
#rdb-header .rdb-board h2,
#rdb-header .rdb-board h3,
#rdb-header .rdb-board h4,
#rdb-header .rdb-board h5 {
	margin: 0;
	padding: 0;
}

a#rdb-refresh {
	float: left;
	padding: 4px;
	margin-right: 5px;
	display: block;
	width: 30px;
	height: 17px;
	background-image: url(../../../images/reload.png);
	background-repeat: no-repeat;
	background-position: 50% 40%;
	border-radius: 2px;
	border: 1px solid #fff;
}
a#rdb-refresh:hover {
	background-color: #eee;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
a#rdb-refresh:active {
	background-color: #eee;
	border: 1px solid #aaa;
	box-shadow: 0 0 4px rgba(0,0,0,.3) inset;
}

a#rdb-reset {
	background-image: url(../../../images/cancel.png);
	background-repeat: no-repeat;
	background-position: 6px 60%;
}

/* =========================================================
** Dashboard
*/

/* =========================================================
** Legend / Footer
*/

#rdb-legend {
	float: left;
}
#rdb-legend div {
	padding: 0 0 4px 0;
}
#rdb-legend p {
	float: left;
	width: 60px;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}
#rdb-legend span {
	padding: 0 10px 0 3px;
}
#rdb-legend .rdb-overdue {
	padding: 0;
}
#rdb-legend .rdb-overdue span {
	border: 1px solid red;
	padding: 0;
	margin-right: 3px;
}

#rdb-footer {
	padding: 2px 10px 0;
	margin: 0;
	border-top: 1px solid #ccc;
}

#rdb-copyright {
	float: right;
	font-size: 0.8em;
	color: #999;
}
