html>body
  #content
    padding: 0
    min-height: 0

body:not([class*=theme-])
  #main-menu li a.rdb-project-dashboards.selected
    background-color: $primary-lightgray

#redmine-dashboard
  background-color: $primary-white

  border-radius: 7px

  &.rdb-fullscreen
    z-index: 9999999999999999999999
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

    border-radius: 0

  *
    box-sizing: border-box

  a
    cursor: pointer

    &:focus, &:hover
      text-decoration: none

  .rdb-clear
    clear: both

  @import './components/IssueList'
  @import './components/IssueCard'

  @import './mixins/Dashboard'
  @import './components/Taskboard'

body.theme-A1
  .rdb-header
    border-bottom-color: #AECCD7
    border-top: 1px solid #fff
    background: #EAF2F5 url(../../../themes/a1/images/smooth-gradient-blue.jpg)

  #redmine-dashboard.rdb-fullscreen
    .rdb-header
      border-top: none
      border-radius: 0
