@import 'rui/style'

#redmine-dashboard
  color: $text-color
  @extend %font-conf

  h1, h2, h3, h4, h5
    color: $text-color
    font-family: $font-family
    letter-spacing: 0

  h2
    font-size: 20px
    font-weight: normal

  h3
    font-size: 14px
    // text-transform: uppercase
    font-weight: bold
    color: $primary-gray

  button, select, input, textarea
    @extend %font-conf
