@import 'rui/colors'
@import "addons/font-family"

$arial: Arial, sans-serif

#redmine-dashboard
  color: $text-color
  font-size: 14px
  font-family: $arial

  // font-size: 16px
  // line-height: normal

  h1, h2, h3, h4, h5
    color: $text-color
    font-family: $arial
    letter-spacing: 0

  h2
    font-size: 20px
    font-weight: normal

  h3
    font-size: 14px
    // text-transform: uppercase
    font-weight: bold
    color: $primary-gray

  button, select, input, textarea
    font-size: 14px
    font-family: $arial
