/*
**  Redmine Dashboard
*/

/* =========================================================
** Dashboard Origin
*/

/* override */
body, html { height: 100%; }

/* override */
html > body #content {
	padding: 0 !important;
	background-color: #eee;
}

#rdb {
	background-color: #eee;
	position: relative;
}

#rdb.rdb-fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	z-index: 9999999995;
}

#rdb.rdb-fullscreen #rdb-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999999999;
}

#rdb.rdb-fullscreen {
	padding-top: 45px;
}

#rdb-board {
	clear: both;

	margin: 10px 15px;
	padding: 8px 2px 2px;

	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
}

#rdb-board-container {
/*	padding: 1px;
	padding-bottom: 1px;
*/
}

#rdb-loading {
	padding: 40px;
	text-align: center;
	min-height: 200px;
}

.rdb-clear { clear: both; }


/* =========================================================
** Dashboard Header
*/

#rdb-header {
	padding: 7px 30px 7px 11px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

#rdb-header .rdb-board,
#rdb-header .rdb-filter,
#rdb-header .rdb-option {
	float: left;
	margin: 0 4px;
}

#rdb-header .rdb-menu-link {
	padding: 4px 18px 4px 6px;
	border-radius: 2px;
}

#rdb-header .rdb-filter,
#rdb-header .rdb-option {
	margin-top: 8px;
}

#rdb-header .rdb-option {
	float: right;
}

#rdb-header .rdb-board .rdb-container {
	margin-top: 4px;
}

#rdb-header .rdb-board h1,
#rdb-header .rdb-board h2,
#rdb-header .rdb-board h3,
#rdb-header .rdb-board h4,
#rdb-header .rdb-board h5 {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
#rdb-header .rdb-board h2 { font-size: 20px; }

a#rdb-refresh {
	float: left;
	padding: 4px;
	margin-right: 5px;
	display: block;
	width: 30px;
	height: 17px;
	background-image: url(../../../images/reload.png);
	background-repeat: no-repeat;
	background-position: 50% 40%;
	border-radius: 2px;
	border: 1px solid #fff;
}
a#rdb-refresh:hover {
	background-color: #eee;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
a#rdb-refresh:active {
	background-color: #eee;
	border: 1px solid #aaa;
	box-shadow: 0 0 4px rgba(0,0,0,.3) inset;
}

a#rdb-reset {
	background-image: url(../../../images/cancel.png);
	background-repeat: no-repeat;
	background-position: 6px 60%;
}

/* =========================================================
** Error message
*/

#rdb-errors {
	position: fixed;
	bottom: 10%;
	left: 35%;
	right: 35%;
}
#rdb-errors .rdb-error {
	margin: 5px 0;
	padding: 10px 20px;

	position: relative;
	overflow: hidden;

	color: #B94A48;
	background-color: #F2DEDE;
	border: 1px solid #C58080;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
#rdb-errors .rdb-error a.close {
	position: absolute;
	top: 0;
	right: 8px;

	font-size: 25px;
	color: #aaa;
}
#rdb-errors .rdb-error a.close:hover {
	color: #777;
	text-decoration: none;
	cursor: pointer;
}

/* =========================================================
** Legend / Footer
*/

#rdb-legend {
	float: left;
}
#rdb-legend div {
	padding: 0 0 4px 0;
}
#rdb-legend p {
	float: left;
	min-width: 70px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	/*text-align: right;*/
	padding-right: 10px;
}
#rdb-legend span {
	padding: 0 10px 0 3px;
}
#rdb-legend .rdb-overdue {
	padding: 0;
}
#rdb-legend .rdb-overdue span {
	border: 1px solid red;
	padding: 0;
}

#rdb-footer {
	padding: 5px 30px 10px;
	margin: 0;
	font-size: 0.8em;
}

#rdb-copyright {
	float: right;
	font-size: 0.8em;
	color: #999;
}
