.rdb-issue
  margin 1px
  float left

  width 190px
  border-radius 4px
  border 3px solid transparent

  &:hover, &:focus, &.focus
    border-color #d3e9f3

  .rdb-issue-inlet
    border 1px solid frame-color
    background #FFFFDD

  .rdb-issue-container
    border-left 4px solid frame-color

  header
    padding 3px 4px
    border-bottom 1px solid frame-color
    font-size 90%

    .rdb-issue-id
      padding 0 4px 0 0
      margin 0 4px 0 0
      border-right 1px solid frame-color

  section
    padding 3px 4px
    height 130px
    overflow hidden

    .rdb-issue-description
      margin-top 2px
      font-size 80%
      color #999
