.rdb-issue
  margin 5px
  float left

  width 190px

  border 1px solid frame-color
  background #FFFFDD
  border-radius 2px

  .rdb-issue-inlet
    border-left 4px solid frame-color

  header
    padding 3px 4px
    border-bottom 1px solid frame-color
    font-size 90%

    .rdb-issue-id
      padding 0 4px 0 0
      margin 0 4px 0 0
      border-right 1px solid frame-color

  section
    padding 3px 4px
    height 130px
    overflow hidden

    .rdb-issue-description
      margin-top 2px
      font-size 80%
      text-align justify
      color #999
