
$frame-color: #ccc

$primary-red: #ae1c0c
$primary-blue: #205081
$primary-lightgray: #f7f7f7
$primary-dark: #333
$primary-yellow: #f6c342
$primary-green: #14892c
$primary-gray: #707070
$primary-brightblue: #3b73af
$primary-paleblue: #ebf2f9
$primary-white: #fff

$primary-color: $primary-blue
$primary-danger: $primary-red

$secondary-gray: #999
$secondary-ashgray: #ccc
$secondary-silver: #e9e9e9
$secondary-brown: #815b3a
$secondary-orange: #ea632b
$secondary-tan: #f1a257
$secondary-lightbrown: #d39c3f
$secondary-slate: #4a6785
$secondary-lime: #8eb021
$secondary-mauve: #ac707a
$secondary-vialot: #654982
$secondary-emerald: #7bc1a1

%theme-text
  font-size: 14px
  line-height: 20px
  font-family: Arial, sans-serif

%theme-h1
  font-size: 24px

%theme-h2
  font-size: 20px

%theme-h3
  font-size: 14px
  font-weight: bold

%theme-h4
  font-size: 12px
  font-weight: bold

%theme-h5
  font-size: 9px
  font-seight: bold
  text-transform: uppercase

%theme-h6
  font-size: 9px
  font-seight: bold

@mixin theme-btn-color($color)
  border-color: $color
  background-color: lighten($color, 2%)
  background-image: linear-gradient(to bottom, lighten($color, 10%) 0, $color 100%)
  text-shadow: 0 1px 1px $color

  &:hover
    border-color: darken($color, 5%)
    background-color: darken($color, 3%)
    background-image: linear-gradient(to bottom, lighten($color, 5%) 0, darken($color, 5%) 100%)
    text-shadow: 0 1px 1px darken($color, 10%)

  &:active, &.rdb-active
    background-color: $color
    background-image: linear-gradient(to bottom, darken($color, 5%) 0, $color 100%)
    border-color: darken($color, 20%)

%theme-btn
  +theme-btn-color($secondary-silver)
  color: $primary-dark
  border-color: $frame-color
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
  border-radius: 2px
  text-decoration: none

  &:focus, &:hover
    border-color: $secondary-gray
    // outline: none
    text-decoration: none

  &:active, &.rdb-active
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1)
    text-decoration: none

  .rdb-icon
    color: $primary-gray

%theme-btn-primary
  +theme-btn-color(lighten($primary-blue, 5%))
  color: $primary-white
  font-weight: bold

  &:focus
    border-color: $primary-dark

  &:hover, &:active, &.rdb-active
    color: $primary-white

  .rdb-icon, .rdb-handle::before
    color: $primary-white
    border-color: $primary-white

%theme-btn-danger
  @extend %theme-btn-primary
  +theme-btn-color($primary-red)

%theme-btn-success
  @extend %theme-btn-primary
  +theme-btn-color($primary-green)

%theme-dropdown
  border-color: $frame-color
  background-color: #fff

%theme-dropdown-section-header
  font-size: 9px
  font-seight: bold
  text-transform: uppercase
  color: $primary-gray

%theme-dropdown-container
  &::-webkit-scrollbar
    width: 5px
    background-color: #eee
  &::-webkit-scrollbar-thumb
    background-color: #bbb

%theme-list-link
  color: $primary-dark

  &:focus, &:hover
    background-color: $primary-brightblue
    outline: none
    color: $primary-white
