//= require_self

#content
  padding: 0

#redmine-dashboard
  *
    box-sizing border-box

  a
    &:focus, &:hover
      text-decoration: none

  > header
    padding: 6px 0 6px 0
    border-bottom: 1px solid #ccc

  @import 'rdb.variables'
  @import 'rdb.ui.menu'
  @import 'rdb.ui.container'

  @import 'rdb.taskboard'
