.rdb-board {
  display: flex;
  flex-direction: column;

  height: 100%;

  color: var(--rdb-board-fg-color);

  > header {
    padding: 1.1em 1em 0.9em;

    border-bottom: 1px solid var(--rdb-board-border-color);
    background-color: var(--rdb-board-header-bg-color);

    h2 {
      margin: 0;
      color: var(--rdb-board-header-fg-color);
    }
  }

  > section {
    display: flex;
    flex: 1 0 0;

    overflow-x: auto;
    padding: 0 5px;

    background-color: var(--rdb-board-bg-color);
  }

  > footer {
    padding: 2px 1em;

    font-size: 80%;
    text-align: right;

    background-color: var(--rdb-board-bg-color);
  }
}
