---
name: test

on:
  push:
    branches-ignore: [debian]
    tags: ['*']
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: ${{ matrix.redmine }} on ${{ matrix.ruby }}
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        include:
          - ruby: "3.3"
            redmine: "6.0.7"
          - ruby: "3.2"
            redmine: "6.0.7"
          - ruby: "3.1"
            redmine: "6.0.7"
          - ruby: "3.2"
            redmine: "5.1.10"
          - ruby: "3.1"
            redmine: "5.1.10"
          - ruby: "3.0"
            redmine: "5.1.10"
          - ruby: "3.1"
            redmine: "5.0.14"
          - ruby: "3.0"
            redmine: "5.0.14"
      fail-fast: false

    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 10
      BUNDLE_WITHOUT: development
      REDMINE_VERSION: ${{ matrix.redmine }}

    steps:
      - uses: actions/checkout@master

      - name: setup postgres
        run: |
          sudo systemctl start postgresql
          sudo -u postgres createuser -s ${USER}

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: True

      - name: setup cache
        uses: actions/cache@v5
        with:
          path: vendor
          key: v5-ruby-${{ matrix.ruby }}-redmine-${{ matrix.redmine }}

      - name: install dependencies
        run: sudo apt-get install --quiet --yes subversion

      - name: setup redmine ${{ matrix.redmine }}
        run: ./redmine update

      - name: run tests
        run: ./redmine exec bundle exec rspec --force-color --format doc

  rubocop:
    runs-on: ubuntu-24.04

    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 10

    steps:
      - uses: actions/checkout@master
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4.8"
          bundler-cache: True

      - run: bundle exec rubocop --fail-level E --extra-details --display-time --color
