name: test
on:
  push:
    branches-ignore: [debian]
  pull_request:

jobs:
  test:
    name: ${{ matrix.redmine }} on ${{ matrix.ruby }}
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        include:
          - ruby: "2.7"
            redmine: "4.2.2"
      fail-fast: false

    env:
      BUNDLE_JOBS: 4
      BUNDLE_PATH: ${{ github.workspace }}/vendor/bundle
      BUNDLE_RETRY: 3
      BUNDLE_WITHOUT: development
      REDMINE_VERSION: ${{ matrix.redmine }}

    steps:
      - uses: actions/checkout@master

      - name: Setup database
        run: |
          sudo systemctl start postgresql
          sudo -u postgres createuser -s ${USER}

      - name: Install Node 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm

      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Setup ruby cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: v3-ruby-${{ matrix.ruby }}-redmine-${{ matrix.redmine }}

      - name: Setup node cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: v3-node-16-${{ hashFiles('**/package-lock.json') }}

      - name: Setup Redmine ${{ matrix.redmine }}
        run: ./redmine update

      - name: Compile assets
        run: |
          npm install
          npm run build -- --mode production

      - name: Run plugin tests
        run: ./redmine exec bundle exec rspec spec/plugin --color

      - name: Run browser tests
        run: ./redmine exec bundle exec rspec spec/browser --color
